@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap");

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

/*-----------------------------------BODY----------------------------------*/
body {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  background: #121315;
  color: #fef7ed;
  font-family: "Sora", sans-serif;
  line-height: 1.5;
  background-image: url("../src/assets/images/bg-cafe.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.hero{
  display: flex;
}

.content{
  display: flex;
  flex-direction:column;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color:#1C1D1F;
  border-radius: 2vh;
  margin-top: 17vh;
}

/*-------------------------------------------------------------------------*/
/*----------------------------------HEADER---------------------------------*/

.header{
  padding-top: 13vh;
  padding-right: 2vh;
  background-image: url("../src/assets/images/vector.svg");
  background-size:auto;
  background-repeat: no-repeat;
  background-position:right;
}

.title {
  font-size: 4vh;
  font-weight: 450;
  position: relative;
  text-align: center;
  margin: 0 3vh;
}

.description {
  font-size: 2.3vh;
  font-weight: 550;
  margin: 1vh 3vh;
  max-width: 80vh;
  text-align:justify;
  text-align-last: center;
  color: #60656B;
}

/*-------------------------------------------------------------------------*/
/*----------------------------------BUTTONS--------------------------------*/

.buttonsClass{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0 20px 0;
  gap: 2vh;
  font-size: 2.25vh;
  text-align: center;
}

button{
  all:unset;
  color: #fef7ed;
  border-radius: 9px;
  width: 17vh;
  padding: 1.25vh 6px;
}

button:hover{
  background-color: #6e757d;
  transition: 10ms;
}

.clicked{
  background-color: #6e757d;
}

/*-------------------------------------------------------------------------*/
/*-------------------------------CARD SECTION------------------------------*/

.coffeeList {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(3,minmax(min(11.25rem, 100%), 1fr));
  gap: 1.5rem 0.5rem;
  margin-bottom: 8vh;
}

.section1 {
  display: flex;
  justify-content: space-between;
  margin: 2vh 0;
}

.section2 {
  display: flex;
  justify-content: space-between;
}

figure {
  position: relative;
  display: flex;
  margin: 0.05vh;
}

figure img {
  border-radius: 1.7vh;
  width: 100%;
  height: 100%;
}

figure p {
  position: absolute;
  top: 5%;
  left: 3%;
  padding: 0.1rem 0.5rem;
  border-radius: 10px;
  background-color: #F5C769;
  color: #020617;
  font-weight: 500;
  font-size: 0.8rem;
}

.section1 > p{
  background-color:#BDE3CC;
  color: #020617;
  font-weight: 500;
  font-size: 2.2vh;
  border-radius: 5px;
  align-items: center;
  display: flex;
  padding: 0 10px;
}

.section2 p:nth-of-type(2){
  color: #A15446;
  font-weight: bold;
  text-align: right;
}

.section2 > p:nth-of-type(1){
  align-items: center;
  display: flex;
  font-size: small;
}

.ratingDetails{
  color: #6E747C;
  padding-left: 0.6vh;
}

.link-card {
  padding: 1rem;
  list-style-type: none;
  border: 0.5px solid transparent;
  transition: all ease-in-out 50ms;
  width: inherit;
}

.link-card:hover {
  border: 0.5px solid #1e293b;
  background-color: #94a3b817;
  border-radius: 8px;
}

.card > .section1 > h3{
  font-size: medium;
  font-weight: 450;
}

/*-------------------------------------------------------------------------*/
/*-------------------------------RESPONSIVE CSS----------------------------*/

/* For screens smaller than 480px */

@media (max-width: 480px) {
  /*--------------------------BODY-----------------------*/
  .content{
    width:75%;
    margin-top: 5vh;
  }
  /*------------------------HEADER------------------------*/
  .description{
    max-width: 60vh;
    text-align:center;
    text-align-last: center;
  }
  /*-------------------------BUTTONS-----------------------*/
  button{
    width:auto;
    padding: 1.25vh 6px;
  }
  .buttonsClass{
    font-size: 2vh;
  }
  /*--------------------------CARDS----------------------*/
  .link-card{
    padding: 1.5rem;
  }
  .coffeeList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.3rem;
    margin-bottom: 7vh;
  }
  .section1, .section2{
    flex-direction: column;
  }
  .section1 > p {
    width: 25%;
    justify-content: center;
  }
  .section2 p:nth-of-type(2){
    text-align: left;
    font-size: 70%;
  }
  .section2 > p:nth-of-type(1) {
    font-size: x-small;
  }
}

/* For screens between 480px and 751px */
@media (min-width: 480px) and (max-width: 751px) {
  /*--------------------------BODY-----------------------*/
  .hero{
    height: 100%;
  }

  .content{
    width:75%;
    margin-top: 6vh;
  }

  /*------------------------HEADER------------------------*/
  .description{
    max-width: 60vh;
    text-align:center;
    text-align-last: center;
  }

  /*--------------------------CARDS----------------------*/
  .coffeeList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-bottom: 8vh;
  }

}

/* For screens between 751px and 1024px */
@media (min-width: 751px) and (max-width: 1024px) {
  /*--------------------------BODY-----------------------*/
  .hero{
    height: 75rem;
  }

  .content{
    width: 80%;
    margin-top: 11vh;
  }

  /*------------------------HEADER------------------------*/
  .description{
    max-width: 75vh;  
  }

  /*--------------------------CARDS----------------------*/
  .coffeeList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.01rem;
    margin-bottom: 8vh;
  }
}

/* For screens between 1025px and 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
  /*--------------------------BODY-----------------------*/
  .hero{
    height: 75rem;
  }

  .content{
    width: 80%;
    margin-top: 11vh;
  }
  /*------------------------HEADER------------------------*/
  .description{
    max-width: 75vh;  
  }

  /*--------------------------CARDS----------------------*/
  .coffeeList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.01rem;
    margin-bottom: 8vh;
  }
}

/* For screens larger than 1280px */
@media (min-width: 1281px) {
  /*--------------------------BODY-----------------------*/
  .hero{
    height: 63rem;
  }
}