@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap");

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

/*-----------------------------------BODY----------------------------------*/
body {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  background: #020617;
  color: #cbd5e1;
  font-family: "Sora", sans-serif;
  line-height: 1.5;
  background-image: radial-gradient(#0f172a 1px, transparent 0),
    radial-gradient(#0f172a 1px, transparent 0);
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;
  overflow-x: hidden;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.hero{
  /* https://www.youtube.com/watch?v=6J2t_RyQopU */
}

.content{

}

/*-------------------------------------------------------------------------*/
/*----------------------------------HEADER---------------------------------*/

.description {
  text-align: center;
  width: 500px;
  color: #587569;
  margin-left: 29%;
}
.title {
  position: relative;
  text-align: center;
}

.title::after {
  content: "";
  background: url("../src/assets/images/blur-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -130px;
  right: -75px;
  width: 500px;
  height: 250px;
  opacity: 0.5;
}

/*-------------------------------------------------------------------------*/
/*-------------------------------CARD SECTION------------------------------*/

.coffeeList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.section1 {
  display: flex;
  justify-content: space-between;
  margin: 2vh 0;
}

.section2 {
  display: flex;
  justify-content: space-between;
}

figure {
  position: relative;
  display: flex;
  margin: 0.05vh;
}

figure img {
  border-radius: 1.7vh;
  width: 100%;
  height: 100%;
}

figure p {
  position: absolute;
  top: 5%;
  left: 3%;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  background-color: rgb(226, 181, 97);
  color: #020617;
  font-weight: 600;
  font-size: 0.8rem;
}

.section1 > p{
  background-color:#a0c0b3;
  color: #020617;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  align-items: center;
  display: flex;
  padding: 0 10px;
}

.section2 p:nth-of-type(2){
  color: rgb(177, 101, 57);
  font-weight: bold;
  text-align: right;
}

.section2 > p:nth-of-type(1){
  align-items: center;
  display: flex;
}

.ratingDetails{
  color: grey;
  padding-left: 0.6vh;
}

.link-card {
  padding: 1rem;
  list-style-type: none;
  border: 0.5px solid transparent;
  transition: all ease-in-out 50ms;
  width: inherit;
}

.link-card:hover {
  border: 0.5px solid #1e293b;
  background-color: #94a3b817;
  border-radius: 8px;
}

/*-------------------------------------------------------------------------*/

/*-------------------------------RESPONSIVE CSS----------------------------*/

@media screen and (min-width: 720px) {
  .logo {
    display: initial;
  }

  .get-started {
    width: auto;
  }

  main {
    flex-direction: row;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

/*-------------------------------------------------------------------------*/
/*---------------------------------UNUSED CSS------------------------------*/

/* .get-started {
  padding: 1rem 2rem;
  border: 0.5px solid #1e293b;
  background-color: #94a3b817;
  border-radius: 2rem;
  font-size: 0.875rem;
  font-weight: 200;
  width: 100%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
}

.logo {
  display: none;
} 

header {
  display: flex;
  justify-content: space-between;
}

*/